# SPDX-FileCopyrightText: 2025 David Rabkin
# SPDX-License-Identifier: 0BSD
---
name: test
'on': [pull_request, push]
jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-15-intel
    steps:
      - uses: actions/checkout@v5
      - run: |
          brew upgrade
          brew install goredo
